.imageSection{
    height: 500px;
    background-image: linear-gradient(to bottom, rgb(25, 25, 25) 0.5%, transparent 150%), url('../../../images/paoloTreating.png');
}

.slogan {
    color: white;
    font-family: 'Now Alt Regular';
    line-height: 2;
}

.container {
    top: 0;
    text-align: center;
    margin-bottom: 60px;
}

.content {
    padding-top: 120px;
    line-height: 1.7;
}


@keyframes colorPop {
    0%   {background-color: rgb(25, 25, 25);}
    10%  {background-color: rgb(217, 217, 217); color: rgb(25, 25, 25);}
    20% {background-color: rgb(25, 25, 25); color: rgb(217, 217, 217);}
}

@font-face {
    font-family: 'Now Alt Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Now Alt Regular'), url('../../../fonts/now-alt-cufonfonts-webfont/NowAlt-Regular.woff') format('woff');
    }